/* ==========================================================================
   hero / components
   ========================================================================== */

.hero {
    position: relative;
    min-height: 80vh;
}

.hero__media {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    img {
        height: 100%;
        width: 100%;

        display: block;
        object-fit: cover;
    }
}

.hero__content {
    max-width: 50%;

    h1 {
        font-weight: 300;
    }
    p {
        color: var(--color-white);
        font-weight: 400;
        padding-bottom: var(--spacing-md);
    }
}
