/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Nunito', sans-serif;
    --font-secondary: 'PT Sans', sans-serif;
    --font-tertiary: 'Open Sans', sans-serif;

    --font-size-content: #{typo(10px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(50px, 100px)};
    --font-size-h2: #{typo(30px, 50px)};
    --font-size-h3: #{typo(20px, 35px)};
    --font-size-nav: #{typo(10px, 14px)};
    --font-size-logo: #{typo(35px, 40px)};
    --font-size-icon-athletes: #{typo(35px, 70px)};
}
